/*GENERAL STYLING*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-size: 14px;
}

body {
    width: 100vw;
    height: 100vh;
    overflow-x: hidden;
}

.dark-brown {
    color: #694139;
}

h1 {
    font-size: 64px;
    font-family: 'Lobster Two', cursive;
}

h2 {
    font-size: 32px;
    font-family: 'Josefin Sans', sans-serif;
}

h3 {
    font-size: 24px;
    font-family: 'Josefin Sans', sans-serif;
}

p {
    font-size: 18px;
    font-family: 'Josefin Sans', sans-serif;
}

.font-light {
    font-weight: 300;
}

.landing-button {
    width: 192px;
    height: 64px;
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    box-shadow: 0px 2px 8px #000000;
    border: none;
    outline: none;
}

/*NAVIGATION STYLING*/
.navbar {
    width: 100%;
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
    box-shadow: 0px 2px 12px;
    overflow: hidden;
}

.navlinks {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    gap: 64px;
}

.dropdown .dropdown-nav-button {
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background-color: white;
    border: none;
    outline: none;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 40px;
}

.mobile-icon {
    display: none;
}

/*LANDING PAGE STYLING*/
.landing {
    display: flex;
    flex-direction: column;
}

.landing-banner {
    height: 560px;
    background-image: url("./assets/moon-magic-landing-page.jpg");
    background-size: cover;
    background-position: center;
    position: relative;
    z-index: -1;
}

.landing-banner-content {
    width: 100%; 
    color: white;
    position: relative;
    bottom: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.landing-banner-content h1 {
    text-shadow: 0px 4px 8px #000000;
}

.landing-banner-content h2 {
    text-shadow: 0px 4px 8px #000000;
    font-weight: 300;
    margin-top: 16px;
    margin-bottom: 32px;
}

.landing-banner-button {
    border: none;
    outline: none;
    color: white;
    background-color: #0F5C6B;
}

/*FLOWER OPTIONS SECTION STYLING*/
.flower-options {
    position: relative;
    bottom: 80px;
}

.flower-options-decor-content {
    width: fit-content;
    display: flex;
    margin: auto;
    align-items: center;
}

.flower-options-decor-square {
    width: 480px;
    height: 480px;
    display: inline-block;
    background-size: cover;
    background-image: url("./assets/magic-moon-flower-options-pink-bouquet.jpg");
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);
}

.flower-options-decor-img {
    position: relative;
    right: 88px;
    bottom: 120px;
}

.flower-options-content {
    position: relative;
    top: 120px;
    right: 200px;
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 24px;
}

.flower-options-content button {
    color: #0F5C6B;
    background-color: white;
    border: 2px solid #0F5C6B;
}

.flower-options-banner {
    width: 100%;
    height: 400px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("./assets/magic-moon-flower-options-banner.jpg");
    position: relative;
    bottom: 64px;
    z-index: -1;
}

.flower-options-image-gallery {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    gap: 80px;
    position: relative;
    bottom: 240px;
}

.flower-options-gallery-image {
    height: 300px;
    width: 300px;
    border-radius: 50%;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.gallery-option1 {
    background-image: url("./assets/moon-magic-flower-gallery1.jpg");
    background-size: cover;
    background-position: center;
}

.gallery-option2 {
    background-image: url("./assets/moon-magic-flower-gallery2.jpg");
    background-size: cover;
    background-position: center;
}

.gallery-option3 {
    background-image: url("./assets/moon-magic-flower-gallery3.jpg");
    background-size: cover;
    background-position: center bottom;
}

/*BASKET SECTION STYLING*/

.baskets {
    position: relative;
    bottom: 320px;
}

.baskets-flower-decor {
    position: relative;
    top: 148px;
    left: 80px;
}

.baskets-container, .charming-treats-container {
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
}

.baskets-content, .charming-treats-content {
    width: 30%;
    background-color: #F4D5CA;
    padding: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 24px;
}

.baskets-content button {
    color: white;
    background-color: #0F5C6B;
}

.baskets-img {
    width: 55%;
    background-image: url("./assets/basket-decor-img.png");
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);
}

/*CHARMING TREATS STYLING*/
.charming-treats {
    position: relative;
    bottom: 160px;
}

.charming-treats-img {
    width: 55%;
    background-image: url("./assets/charming-treats-img.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 12px 12px 12px rgba(0, 0, 0, 0.5);
}

.charming-treats-content {
    color: white;
    background-color: #0F5C6B;
}

.charming-treats-content button {
    color: #0F5C6B;
    background-color: white;
}

/*SUPERSTAR SELLER STYLING*/
.popular-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
}

.popular-items-gallery {
    display: flex;
    gap: 120px;
}

.popular-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.popular-item-img {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    border-radius: 50%;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.popular-item-img1 {
    background-image: url("./assets/top-seller-option1.jpg");
    background-size: cover;
    background-position: center;
}

.popular-item-img2 {
    background-image: url("./assets/top-seller-option2.jpg");
    background-size: cover;
    background-position: center;
}

.popular-item-img3 {
    background-image: url("./assets/top-seller-option3.jpg");
    background-size: cover;
    background-position: center;
}

.popular-item-img4 {
    background-image: url("./assets/top-seller-option4.jpg");
    background-size: cover;
    background-position: center;
}

.popular-item-img5 {
    background-image: url("./assets/top-seller-option5.jpg");
    background-size: cover;
    background-position: center;
}

.popular-item-divider {
    width: 80%;
    border: 2px solid black;
    border-radius: 4px;
}

.popular-item-decor-button {
    display: flex;
    align-items: center;
}

.popular-item-decor-left {
    transform: scaleX(-1);
}

.popular-item-decor-button button {
    color: white;
    background-color: #0F5C6B;
}

/*TESTIMONIAL STYLING*/
.testimonial-title {
    display: flex;
    align-items: center;
    margin-left: 200px;
}

.testimonial-decor {
    transform: scaleX(-1);
    z-index: 2;
}

.testimonial-container {
    width: 100%;
    height: 400px;
    position: relative;
    bottom: 64px;
    background-image: url("./assets/testimonial-background.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 64px;
}

.testimonial {
    width: 40%;
    height: 80%;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 48px;
    padding-left: 80px;
    padding-right: 80px;
    box-shadow: 8px 8px 12px rgba(0, 0, 0, 0.5);
}

.testimonial-star {
    padding: 4px;
}

.testimonial-name {
    font-weight: 700;
    color: #694139;
    align-self: flex-start;
}

.testimonial-icons {
    align-self: flex-end;
}

/*FOOTER STYLING*/
.footer {
    height: 320px;
    background-color: #F0F0F0;
}

.footer-divider {
    width: 100%;
    border: 2px solid black;
}

.footer img {
    margin-top: 40px;
    margin-left: 40px;
}

.footer-content {
    width: 50%;
    position: relative;
    bottom: 64px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.footer-icons {
    display: flex;
    gap: 24px;
}

.footer-links {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    gap: 48px;
}

.footer-link-section {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}

/*MEDIA QUERIES*/
/* When the screen is less than 1400 pixels wide 
hide the desktop nav links, icons remain. 
Show the menu icon that will open and close the mobile nav. */
@media screen and (max-width: 1400px) {
    .nav-links {
        display: none;
    }
  }