.footer {
    margin-top: 240px;
    height: 360px;
    background-color: #F0F0F0;
}

.footerdivider {
    width: 100%;
    border: 2px solid black;
}

.footerlogo {
    margin-top: 40px;
    margin-left: 40px;
}

.footercontent {
    width: 50%;
    position: relative;
    bottom: 64px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 32px;
}

.footericons {
    display: flex;
    gap: 24px;
}

.footerlinks {
    margin-top: 16px;
    margin-bottom: 16px;
    display: flex;
    gap: 48px;
}

.footerlinksection {
    display: flex;
    flex-direction: column;
    gap: 16px;
    text-align: center;
}
