.navbar {
    width: 100%;
    display: flex;
    padding: 24px 40px;
    justify-content: space-between;
    box-shadow: 0px 2px 12px;
    overflow: hidden;
}

.navlinkcontainer {
    display: flex;
    align-items: center;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    gap: 64px;
}

.navDropdown .dropdownNavButton {
    color: #694139;
    font-size: 0.875rem;
    font-family: 'Josefin Sans', sans-serif;
    text-transform: uppercase;
    background-color: white;
    border: none;
    outline: none;
    cursor: pointer;
}

.navlink {
    color: #694139;
    text-decoration: none;
    font-size: 0.875rem;
}

.navicons {
    display: flex;
    align-items: center;
    gap: 40px;
}